  .icon {
    height: 100vh;
    display: flex;
    flex-flow: wrap column;
    align-content: flex-start;
  }
  .ico-text-s {
    font-size: 14px;
    line-height: 1.2;
  }

  .doing-exe,
  .music-exe,
  .resume-exe,
  .txt-exe,
  .AndroidSimulator-exe,
  .RetroSnaker-exe,
  .Weather-exe {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  .menu-bar {
    width: 100%;
    font-size: 22px;
    padding-left: 20px;
    overflow: hidden;
    border-bottom: 1px #ccc solid;
    background-color: #f5f5f5;
  }

  .music-xx {
    color: #fff;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 15px;
  }

  .doing-xx,
  .resume-xx,
  .txt-xx,
  .AndroidSimulator-xx,
  .RetroSnaker-xx,
  .Weather-xx {
    padding-right: 10px;
    float: right;
  }

  .resume-bd {
    height: 600px;
    overflow-y: auto;
  }

  .Txt-exe {
    width: 800px;
    overflow: hidden;
  }

  .txt-bd {
    width: 800px;
    height: 600px;
    overflow: auto;
    position: relative;
    background-color: rgb(191, 237, 255);
  }

  .AndroidSimulator-bd {
    width: 357px;
    height: 667px;
    overflow: hidden;
    background-color: #fff;
  }
  .RetroSnaker-bd {
    width: 600px;
    height: 452px;
    background-color: #1e1e1e;
  }
  .Weather-bd {
    width: 600px;
    height: 400px;
    background-color: skyblue;
  }
  /* 正在开发中样式 */
  .doing-exe {
    width: 360px;
    height: 300px;
    text-align: center;
    top: 30%;
    background-color: skyblue;
  }
  .doing-bd {
    width: 100%;
    height: 100%;
  }
  .doing-bd img{
    width: 100%;
    height: 100%;
    object-fit: cover
  }
