* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.box {
  margin: 50px auto;
  width: 800px;
  height: 600px;
}

.hd_box {
  background-color: #ec4141;
  width: 100%;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
}

.hd_txt {
  float: left;
  padding-left: 20px;
  font-size: 24px;
  color: #fff;
}

/* 搜索框 */
.hd_search {
  float: right;
  padding-right: 20px;
}

.hd_search_inp,
.hd_search_btn {
  outline-style: none;
  height: 25px;
  background-color: #e13e3e;
  border: 0;
  color: #fff;
}

.hd_search_inp {
  border-radius: 0 12px 12px 0;
}

input::-webkit-input-placeholder {
  color: #e66262;
}

input::-moz-input-placeholder {
  color: #e66262;
}

input::-ms-input-placeholder {
  color: #e66262;
}

.hd_search_btn {
  padding-left: 5px;
  line-height: 0;
  border-radius: 12px 0 0 12px;
}

/* 主视窗 */
.bd_box {
  width: 100%;
  height: 520px;
  background-image: linear-gradient(to bottom right, #00ff95, #0095ff);
  display: flex;
}

/* 左右模块 */
.music_list,
.music_comments {
  flex: 1;
  overflow: auto;
}

.music_list::-webkit-scrollbar-thumb,
.music_comments::-webkit-scrollbar-thumb {
  display: none;
}

.music_list:hover::-webkit-scrollbar-thumb,
.music_comments:hover::-webkit-scrollbar-thumb {
  display: block;
}

/* 唱片 s*/
.music_info {
  flex: 2;
  position: relative;
}

.music_steam {
  position: absolute;
  width: 180px;
  height: 96px;
  left: 50%;
  top: 0;
  transform-origin: 36px 74px;
  z-index: 1;

}

.steamR {
  animation: steamRotation 1s forwards;
}

@keyframes steamRotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(60deg);
  }
}

.steamR0 {
  animation: steamRotation0 1s forwards;
}

@keyframes steamRotation0 {
  0% {
    transform: rotate(60deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.record_w_box,
.record_n_box,
.record_n_img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: 100px;
  left: 50px;
}

.record_w_box {
  background-image: linear-gradient(#000 40%, #fff 50%, #000 60%);

}

.record_n_box {
  width: 200px;
  height: 200px;
  top: 50px;
}

.record_n_img {
  width: 200px;
  height: 200px;
  top: 50px;
}

.picR {
  animation: picRotation 15s infinite linear;
  animation-play-state: paused;
}

.record_w_box.picR .record_n_box {
  animation-play-state: running;
}

@keyframes picRotation {
  100% {
    transform: rotate(360deg);
  }
}

/* 歌单 */
.music_list_li {
  width: 180px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  position: relative;
}

.music_list_li_play {
  width: 20px;
  height: 30px;
  padding: 0 10px;
}

.music_list_li_name {
  width: 120px;
  overflow: hidden;
}

.music_list_li_mv {
  width: 20px;
  height: 30px;
  position: absolute;
  left: 160px;
  top: 0px;
}

/* 播放器 */
.foot_box {
  background-color: #f1f3f4;
  height: 40px;
}

.music_play {
  width: 100%;
  height: 40px;
}

/* 评论 */
.user {
  border-bottom: 1px #ccc solid;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.user_faces_name_box {
  height: 40px;
  line-height: 40px;
  margin: 5px;
  overflow: hidden;
}

.faces {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
  overflow: hidden;
}

.user_faces {
  width: 100%;
  height: 100%;
}

.username {
  font-size: 16px;
  padding-left: 5px;
  overflow: hidden;
}

.usertxt {
  font-size: 14px;
  padding-left: 10px;
  overflow: hidden;
  height: 3em;
}

.usertxt:hover {
  height: 100%;
}

.hot {
  margin: 6px;
  font-size: 24px;
}

/* mv */
video {
  position: fixed;
  width: 800px;
  height: 546px;
  left: 50%;
  top: 50%;
  margin-top: -273px;
  transform: translateX(-50%);
  z-index: 2;
}

.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

.close {
  font-size: 30px;
  color: #fff;
  position: fixed;
  z-index: 3;
  left: 50%;
  top: 50%;
  margin-top: -280px;
  margin-left: 420px;
  transform: translateX(-50%);
}