ul {
  list-style: none;
}
.calender {
  width: 100%;
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid #ddd;
  padding: 20px;
}

.top{
  width: 100%;
  position: relative;
  display: flex;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.top_date{
  width: 100px;
  text-align: left;
  line-height: 42px;
}

.btn_wrap{
  flex: 1;
  text-align: right
}

.btn_wrap ul{
  display: flex;
  flex-direction: row-reverse
}

.btn_wrap ul li{
  padding: 10px 20px;
  border: 1px solid #ddd;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer
}

.btn_wrap ul li:first-child{
  border-left: none;
}

.btn_wrap ul li:last-child{
  border-right: none;
}

.date_wrap{
  position: relative;
}

.week{
  display: flex;
  flex-direction: row;
  padding: 20px;
  font-size: 16px;
}

.week li{
  width: 14.28%;
}

.day{
  display: flex;
  flex-direction: row;
  padding: 20px;
  font-size: 16px;
  flex-wrap: wrap;
}

.day li{
  width: 14.28%;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ddd
}

.day li:nth-child(n+8){
  border-top:none;
}

.day li:nth-child(n+1){
  border-right: none;
}

.day li:nth-child(7n) {
  border-right: 1px solid #ddd
}
.now{
  background: #f2f8fe;
  color:#1989fa;
}
